body{
	background-color: #86c9f7;
	margin: 0;
}

#save{
	position: fixed;
	top: 14px;
	right: 18px;
}

.options_section{
	width: 75em;
	margin: 0 auto;
}
.options_section h3{
	width: 90%;
	margin: 30px 0 3px 0;
}
.add_custom{
	float:left;
	margin-right: 10px;
}
option-section{
	display: inline-block;
	width: 90%;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 1px 4px 0px rgba(85, 98, 112, 0.5);
  padding: 1.5em 2em;;
  margin: 10px auto;
}
option-section h2{
	display: inherit;
	width: 100%;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0.6em;
}

option-levels{
	display: inherit;
	width: 100%;
}

option-level{
	display: inherit;
  float: left;
	width: 50%;
	padding: 3px 0px;
}