body{
  background: linear-gradient(#8fb7d2 , #a3add0);
  margin: 0 10px;
}

#save-status{
  width: 97%;
  height: 20px;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  background: linear-gradient(#99d8b9 , #aeeead);
  border: #271ca040 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.status-message{
  margin: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #6f6f6f;
}
#save{
  position: fixed;
  bottom: 11px;
  right: 30px;
}
.delete{
  display: inline-block;
  position: relative;
  bottom: 15px;
  left: 54px;
}
.edit {
  display: inline-block;
  position: relative;
  right: 93%;
  top: 3px;
  height: 18px;
  width: 18px;
  background-size: cover;
  background-image: url(https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/85-128.png);
  cursor: pointer;
}
.title_container{
  width: 90%;
  height: 25px;
  display: inline-block;
  border-bottom: 1px solid #a5a5a5;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.2em;
}
.title_container input{
  -webkit-margin-before: -12px;
}
.title_container h2::after{
  /*content: " \2228";*/
  /*content: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ExpandMore-32.png);*/
}

.title_container h2 opened::after{
  /*content: " \2227";*/
  /*content: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ExpandMore-32.png);*/
}

.options_section{
  width: 63em;
  margin: 30px auto;
  padding-bottom: 20px;
}
.options_section h3{
  margin: 30px 0 3px 0;
}
.add_custom{
  float:left;
  margin-right: 10px;
}

option-section{
  display: inline-block;
  width: 85%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 4px 0px rgba(85, 98, 112, 0.5);
  padding: 1.5em 3em;;
  margin: 10px 20px;
}
option-section h2{
  display: inherit;
  width: 94%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.6em;
}

option-levels{
  display: inherit;
  width: 100%;
}

option-level{
  display: inherit;
  float: left;
  width: 50%;
  padding: 5px 0px;
}